## EDA for Data Analysis

In [54]:
# Import the packages
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from pathlib import Path

#

In [55]:
# set up the path 
data_path = Path.cwd().parent / 'data'

data_path.mkdir(exist_ok=True)
print(data_path)

/Users/zoeyy/Desktop/xlab Intern/ds-ciss-colonial-law/data

In [64]:

# Load the data
data = pd.read_csv(data_path / 'final_case_details_0607.csv')

print(f"After droping, the data has '{data.shape[0]}' rows")

After droping, the data has '10164' rows

In [21]:
# 0. Checking missing values
missing_values = data.isnull()
index_missing_values = missing_values.any(axis=1)

print(missing_values.sum())
print(f"Number of missing values: {index_missing_values.sum()}")

# check missing both in syllabus and decision 
imp_missing_values = data['syllabus'].isnull() & data['decision'].isnull()

print(imp_missing_values.sum())

unique_id                  0
year                       0
date                     131
case_NO                    0
plaintiffs               155
defendants               155
lawyer_for_plaintiff     573
lawyer_for_defendant    1128
writer                    84
syllabus                 163
decision                 138
concur                   687
separate_opinion           0
endnotes                   0
url                        0
id                      7944
dtype: int64
Number of missing values: 8216
13

In [57]:
# 1. Identify the Chinese cases
chinese_name_list = ['Limjap', 'Boncan', 'Suiqn-sien','Tan','Dizo','Lim','Chua','Uy','Samson','Ong',
                     'Go','Yap','Tuazon','Sy Quia','Co','Tiamco','Lao','Jianquiao','Yatco','Singco',
                     "Chui", "Que","Tanjuanco", "Yangco", "Matiao", "Quico", "Dy", "Chuan", "Leng"]

# Corrected is_chinese column creation
data['is_chinese'] = (data['syllabus'].str.contains('Chinaman|chinaman|Chinese|China', case=False)) | (data['decision'].str.contains('Chinaman|chinaman|Chinese|China', case=False) | data['defendants'].str.contains('|'.join(chinese_name_list), case=True))
data['is_chinese_con1'] = (data['syllabus'].str.contains('Chinaman|chinaman|Chinese|China', case=False)) | (data['decision'].str.contains('Chinaman|chinaman|Chinese|China', case=False))
data['is_chinese_con2'] =  data['defendants'].str.contains('|'.join(chinese_name_list), case=True)

# Group by year and count the occurrences of is_chinese
result = data.groupby('year')['is_chinese'].sum().reset_index()

print(result)

    year  is_chinese
0   1901           2
1   1902           9
2   1903           7
3   1904          15
4   1905          23
5   1906          45
6   1907          67
7   1908          46
8   1909          47
9   1910          35
10  1911          34
11  1912          36
12  1913          16
13  1914          29
14  1915          54
15  1916          66
16  1917          41
17  1918          23
18  1919          15
19  1920          12
20  1921          20
21  1922          11
22  1923          15
23  1924          26
24  1925          11
25  1926          15
26  1927          13
27  1928          12
28  1929          16
29  1930          10
30  1931          15
31  1932          12
32  1933          21
33  1934          30
34  1935          30
35  1936          19
36  1937          16
37  1938          15
38  1939          18
39  1940          12
40  1941          12
41  1942           3
42  1943           1
43  1944           2
44  1945           5
45  1946           7

In [7]:
result = data.groupby('year')['is_chinese_con2'].sum().reset_index()
print(result)

    year is_chinese_con2
0   1901               0
1   1902               0
2   1903               0
3   1904               1
4   1905               1
5   1906               0
6   1907               0
7   1908               0
8   1909               1
9   1910               0
10  1911               0
11  1912               3
12  1913               0
13  1914               0
14  1915               0
15  1916               0
16  1917               1
17  1918               0
18  1919               3
19  1920               0
20  1921               1
21  1922               0
22  1923               0
23  1924               0
24  1925               0
25  1926               0
26  1927               0
27  1928               0
28  1929               0
29  1930               0
30  1931               0
31  1932               0
32  1933               0
33  1934               0
34  1935               0
35  1936               0
36  1937               0
37  1938               1
38  1939               0
39  1940               1
40  1941               0
41  1942               0
42  1943               0
43  1944               0
44  1945               0
45  1946               0

In [43]:

chinese_data = data[(data['is_chinese']==True)]

#data[(data['is_chinese']==True)].to_csv(data_path / 'chinese_cases.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 989 entries, 15 to 10146
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unique_id             989 non-null    int64
 1   year                  989 non-null    int64
 2   date                  981 non-null    object
 3   case_NO               989 non-null    object
 4   plaintiffs            962 non-null    object
 5   defendants            962 non-null    object
 6   lawyer_for_plaintiff  975 non-null    object
 7   lawyer_for_defendant  914 non-null    object
 8   writer                988 non-null    object
 9   syllabus              989 non-null    object
 10  decision              988 non-null    object
 11  concur                942 non-null    object
 12  separate_opinion      989 non-null    bool
 13  endnotes              989 non-null    bool
 14  url                   989 non-null    object
 15  id                    205 non-null    float64
 16  is_chinese            989 non-null    bool
 17  is_chinese_con1       989 non-null    bool
 18  is_chinese_con2       962 non-null    object
dtypes: bool(4), float64(1), int64(2), object(12)
memory usage: 127.5+ KB

In [58]:
# Adding opium column to the data
print(f"Number of the cases contains opium/smuggling {(data['syllabus'].str.contains('Opium|opium|smuggling|Smuggling') | data['decision'].str.contains('Opium|opium|smuggling|Smuggling')).sum()}")

# Opium column creation
data['is_opium'] = (data['syllabus'].str.contains('Opium|opium|smuggling|Smuggling') | data['decision'].str.contains('Opium|opium|smuggling|Smuggling'))
data.groupby('year')['is_opium'].sum().reset_index()

# Smuggling column creation

#data['is_smuggling'] = (data['syllabus'].str.contains('Smuggling|smuggling') | data['decision'].str.contains('Smuggling|smuggling'))
#print(f"Number of the cases contains Smuggling/smuggling {(data['syllabus'].str.contains('Smuggling|smuggling') | data['decision'].str.contains('Smuggling|smuggling')).sum()}")

data.groupby('year')['is_opium'].sum()

Number of the cases contains opium/smuggling 181

year
1901     0
1902     0
1903     1
1904     1
1905     0
1906     2
1907     4
1908    13
1909    13
1910     8
1911     9
1912    22
1913     6
1914    19
1915    21
1916    15
1917    17
1918     3
1919     1
1920     2
1921     3
1922     0
1923     4
1924     1
1925     2
1926     0
1927     1
1928     2
1929     1
1930     2
1931     1
1932     3
1933     1
1934     2
1935     1
1936     0
1937     0
1938     0
1939     0
1940     0
1941     0
1942     0
1943     0
1944     0
1945     0
1946     0
Name: is_opium, dtype: int64

In [ ]:
data[data['is_op']]

In [25]:

# group by year and count the occurrences of is_opium and is_chinese
data['is_chinese_opium'] = data['is_chinese'] & data['is_opium']
data.groupby('year')['is_chinese_opium'].sum()

year
1901     0
1902     0
1903     0
1904     0
1905     0
1906     2
1907     4
1908     8
1909     5
1910     7
1911     4
1912    10
1913     6
1914    10
1915     6
1916    10
1917     8
1918     3
1919     0
1920     2
1921     2
1922     0
1923     2
1924     0
1925     1
1926     0
1927     1
1928     0
1929     0
1930     0
1931     1
1932     0
1933     0
1934     1
1935     1
1936     0
1937     0
1938     0
1939     0
1940     0
1941     0
1942     0
1943     0
1944     0
1945     0
1946     0
Name: is_chinese_opium, dtype: int64

In [45]:
# chinese women 
women_list = ['women', 'Women', 'girl', 'Girl', 'wife', 'Wife', 'mother', 'Mother', 'aunt', 'Aunt', 'female',
                     'Female', 'kids', 'Kids', 'children', 'Children', 'ms', 'Ms', 'miss', 'Miss', 'widow', 'Widow',
                     'prostitute', 'Prostitute', 'baby', 'Baby', 'filipina', 'Filipina', 'mestiza', 'Mestiza', 'kid',
                     'Kid', 'child', 'Child', 'mrs', 'Mrs']

# Corrected is_chinese column creation
data['is_women'] = (data['syllabus'].str.contains('|'.join(women_list), case=True)| data['decision'].str.contains('|'.join(women_list), case=True))
data.groupby('year')['is_women'].sum()

year
1901     1
1902     9
1903     6
1904    15
1905    22
1906    40
1907    61
1908    45
1909    45
1910    35
1911    33
1912    36
1913    16
1914    28
1915    53
1916    66
1917    40
1918    23
1919    15
1920    12
1921    20
1922    10
1923    14
1924    24
1925    11
1926    15
1927    13
1928    11
1929    15
1930    10
1931    15
1932    12
1933    20
1934    30
1935    30
1936    19
1937    14
1938    15
1939    18
1940    10
1941    10
1942     3
1943     1
1944     2
1945     5
1946     7
Name: is_women, dtype: int64

In [27]:
# group by year and count the occurrences of is_opium and is_chinese
data['is_chinese_women'] = data['is_chinese'] & data['is_women']
data.groupby('year')['is_chinese_women'].sum()

year
1901     1
1902     9
1903     6
1904    15
1905    22
1906    40
1907    61
1908    45
1909    45
1910    35
1911    33
1912    36
1913    16
1914    28
1915    53
1916    66
1917    40
1918    23
1919    15
1920    12
1921    20
1922    10
1923    14
1924    24
1925    11
1926    15
1927    13
1928    11
1929    15
1930    10
1931    15
1932    12
1933    20
1934    30
1935    30
1936    19
1937    14
1938    15
1939    18
1940    10
1941    10
1942     3
1943     1
1944     2
1945     5
1946     7
Name: is_chinese_women, dtype: int64

In [59]:
# Location
# read the location data
location = pd.read_csv(data_path / 'city_province.csv')

location

,Expected Cities,City,Province,Region,Geographical Division
0,Manila,Alaminos,Pangasinan,I,Luzon
1,Iloilo,Angeles City,Pampanga,III,Luzon
2,Cebu,Antipolo,Rizal,IV-A,Luzon
3,Zamboanga,Bacolod,Negros Occidental,VI,Visayas
4,Visayas,Bacoor,Cavite,IV-A,Luzon
...,...,...,...,...,...
144,NaN,Valencia,Bukidnon,X,Mindanao
145,NaN,Valenzuela,none [m],NCR,Luzon
146,NaN,Victorias,Negros Occidental,VI,Visayas
147,NaN,Vigan,Ilocos Sur,I,Luzon
148,NaN,Zamboanga City,Zamboanga del Sur,IX,Mindanao

In [60]:
# check the location 
city_list = location['City'].tolist()

# record the city name appeard in the syllabus or decision
data['is_city'] = (data['syllabus'].str.contains('|'.join(city_list), case=True)| data['decision'].str.contains('|'.join(city_list), case=True))

# Function to find and record cities in the syllabus or decision
def find_city(text, cities):
    if pd.isnull(text):
        return None
    text = str(text).lower()
    found_cities = [city for city in cities if city.lower() in text]
    return ', '.join(found_cities) if found_cities else None

# Apply the function to both 'syllabus' and 'decision' columns
data['matched_city'] = data.apply(lambda row: find_city(row['syllabus'], city_list) if find_city(row['syllabus'], city_list) else find_city(row['decision'], city_list), axis=1)


# Display the result
data

,unique_id,year,date,case_NO,plaintiffs,defendants,lawyer_for_plaintiff,lawyer_for_defendant,writer,syllabus,...,separate_opinion,endnotes,url,id,is_chinese,is_chinese_con1,is_chinese_con2,is_opium,is_city,matched_city
0,19014,1901,"August 8, 1901",12,NaN,NaN,Claudio Gabriel,NaN,"SMITH, J.",1. CONTEMPT OF COURT; TREATMENT OF WITNESS. — ...,...,False,False,https://chanrobles.com/cralaw/1901januarydecis...,NaN,False,False,NaN,False,True,Toledo
1,19015,1901,"August 24, 1901",26,WALTER JACKSON,"PAUL BLUM, ET AL.",Charles C . Cohn,Wm. J . Rohde,"COOPER, J.",1. PARTNERSHIP; ACCOUNTING. — Any partner may ...,...,False,False,https://chanrobles.com/cralaw/1901januarydecis...,NaN,False,False,False,False,True,"Manila, Passi"
2,19016,1901,"August 26, 1901",17,DON LUCIANO CORDOBA,"WARNER, BARNES & CO.",Alberto Barrett,Josiah Mode Vale,"SMITH, J.",1. COMMON CARRIERS; BILLS OF LADING. — Where a...,...,False,False,https://chanrobles.com/cralaw/1901januarydecis...,NaN,False,False,False,False,True,Manila
3,19017,1901,"August 28, 1901",456,NaN,NaN,Eber C . Smith,"Colonel Grosbeck, United States Army","WILLARD, J.",1. HABEAS CORPUS; JURISDICTION. — Under Genera...,...,False,False,https://chanrobles.com/cralaw/1901januarydecis...,NaN,False,False,NaN,False,False,None
4,19018,1901,"September 9, 1901",100,AGUSTIN ASENCIO,FRANCISCO GUTIERREZ,Jose Robles Lahesa,Vicente Miranda,"WILLARD, J.",1. VENUE OF ACTIONS. — An action to collect re...,...,False,False,https://chanrobles.com/cralaw/1901januarydecis...,NaN,False,False,False,False,True,Manila
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10159,1909582,1909,"December 21, 1909",5329,SABINA CRUZ HERRERA DE LUKBAN,JOSE McMICKING,Allen A. Garner for plaintiff.,Modesto Reyes for defendant.,"JOHNSON, J. :",1. ATTACHMENT; EXECUTION; SHERIFF’S LIABILITY....,...,False,True,https://chanrobles.com/cralaw/1909januarydecis...,582.0,False,False,False,False,True,Manila
10160,1909583,1909,"December 23, 1909",5318,UNITED STATES,"RAFAEL BUMANGLAG, ET AL.",Iñigo Bitanga,Attorney-General Villam,"TORRES, J.",1. CRIMINAL PRACTICE AND PROCEDURE; HOMICIDE; ...,...,True,False,https://chanrobles.com/cralaw/1909januarydecis...,583.0,False,False,False,False,True,"Laoag, Mati, Naga, Naga"
10161,1909584,1909,"December 23, 1909",5534,"HERBERT S. WALKER, ET AL.",JOSE MCMICKING,O’Brien & De Witt,Roman Lacson,"JOHNSON, J. :",1. ATTACHMENT; SHERIFF’S LIABILITY. — Defendan...,...,False,False,https://chanrobles.com/cralaw/1909januarydecis...,584.0,False,False,False,False,True,Manila
10162,1909585,1909,"December 24, 1909",4724,GREGORIA MONTAÑANO,SILVESTRE SUESA,Mariano Lim,Benito Gimenez-Zoboli,"MAPA, J.",1. PLEADING AND PRACTICE; MOTION FOR NEW TRIAL...,...,False,False,https://chanrobles.com/cralaw/1909januarydecis...,585.0,False,False,False,False,False,None
10163,1909586,1909,"December 24, 1909",5760,"MARTIN OCAMPO, ET AL.","J. C. JENKINS, ET AL.","Felipe Agoncillo, and A. Cruz Herrera for plai...",No appearance for defendants.,"JOHNSON, J. :",1. PLEADING AND PRACTICE; PROSECUTION OF A CIV...,...,False,False,https://chanrobles.com/cralaw/1909januarydecis...,586.0,False,False,False,False,True,Manila

In [61]:

# match the city with the geo division
city_region = location.set_index('City')['Geographical Division'].to_dict()

# Split the 'matched_city' column into separate columns
def remove_duplicates(city_list):
    if pd.isnull(city_list):
        return None
    return ', '.join(sorted(set(city_list.split(', '))))

data['unique_matched_city'] = data['matched_city'].apply(remove_duplicates)

# Split the 'unique_matched_city' column into separate columns
cities_split = data['unique_matched_city'].str.split(', ', expand=True)

data['city_1'] = cities_split[0]
data['city_2'] = cities_split[1]
data['city_3'] = cities_split[2]

# Optionally, rename the new columns
# cities_split.columns = [f'city_{i+1}' for i in range(cities_split.shape[1])]
# data = pd.concat([data, cities_split], axis=1)
data


# # match the city with the geo division
data['region_1'] = data['city_1'].map(city_region)
data['region_2'] = data['city_2'].map(city_region)
data['region_3'] = data['city_3'].map(city_region)

data

,unique_id,year,date,case_NO,plaintiffs,defendants,lawyer_for_plaintiff,lawyer_for_defendant,writer,syllabus,...,is_opium,is_city,matched_city,unique_matched_city,city_1,city_2,city_3,region_1,region_2,region_3
0,19014,1901,"August 8, 1901",12,NaN,NaN,Claudio Gabriel,NaN,"SMITH, J.",1. CONTEMPT OF COURT; TREATMENT OF WITNESS. — ...,...,False,True,Toledo,Toledo,Toledo,None,None,Visayas,NaN,NaN
1,19015,1901,"August 24, 1901",26,WALTER JACKSON,"PAUL BLUM, ET AL.",Charles C . Cohn,Wm. J . Rohde,"COOPER, J.",1. PARTNERSHIP; ACCOUNTING. — Any partner may ...,...,False,True,"Manila, Passi","Manila, Passi",Manila,Passi,None,Luzon,Visayas,NaN
2,19016,1901,"August 26, 1901",17,DON LUCIANO CORDOBA,"WARNER, BARNES & CO.",Alberto Barrett,Josiah Mode Vale,"SMITH, J.",1. COMMON CARRIERS; BILLS OF LADING. — Where a...,...,False,True,Manila,Manila,Manila,None,None,Luzon,NaN,NaN
3,19017,1901,"August 28, 1901",456,NaN,NaN,Eber C . Smith,"Colonel Grosbeck, United States Army","WILLARD, J.",1. HABEAS CORPUS; JURISDICTION. — Under Genera...,...,False,False,None,None,None,None,None,NaN,NaN,NaN
4,19018,1901,"September 9, 1901",100,AGUSTIN ASENCIO,FRANCISCO GUTIERREZ,Jose Robles Lahesa,Vicente Miranda,"WILLARD, J.",1. VENUE OF ACTIONS. — An action to collect re...,...,False,True,Manila,Manila,Manila,None,None,Luzon,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10159,1909582,1909,"December 21, 1909",5329,SABINA CRUZ HERRERA DE LUKBAN,JOSE McMICKING,Allen A. Garner for plaintiff.,Modesto Reyes for defendant.,"JOHNSON, J. :",1. ATTACHMENT; EXECUTION; SHERIFF’S LIABILITY....,...,False,True,Manila,Manila,Manila,None,None,Luzon,NaN,NaN
10160,1909583,1909,"December 23, 1909",5318,UNITED STATES,"RAFAEL BUMANGLAG, ET AL.",Iñigo Bitanga,Attorney-General Villam,"TORRES, J.",1. CRIMINAL PRACTICE AND PROCEDURE; HOMICIDE; ...,...,False,True,"Laoag, Mati, Naga, Naga","Laoag, Mati, Naga",Laoag,Mati,Naga,Luzon,Mindanao,Visayas
10161,1909584,1909,"December 23, 1909",5534,"HERBERT S. WALKER, ET AL.",JOSE MCMICKING,O’Brien & De Witt,Roman Lacson,"JOHNSON, J. :",1. ATTACHMENT; SHERIFF’S LIABILITY. — Defendan...,...,False,True,Manila,Manila,Manila,None,None,Luzon,NaN,NaN
10162,1909585,1909,"December 24, 1909",4724,GREGORIA MONTAÑANO,SILVESTRE SUESA,Mariano Lim,Benito Gimenez-Zoboli,"MAPA, J.",1. PLEADING AND PRACTICE; MOTION FOR NEW TRIAL...,...,False,False,None,None,None,None,None,NaN,NaN,NaN
10163,1909586,1909,"December 24, 1909",5760,"MARTIN OCAMPO, ET AL.","J. C. JENKINS, ET AL.","Felipe Agoncillo, and A. Cruz Herrera for plai...",No appearance for defendants.,"JOHNSON, J. :",1. PLEADING AND PRACTICE; PROSECUTION OF A CIV...,...,False,True,Manila,Manila,Manila,None,None,Luzon,NaN,NaN

In [62]:
# If the region_1, region_2, and region_3 are equal, new columns to indicate 1
data['region_1_2_3'] = (data['region_1'] == data['region_2']) & (data['region_2'] == data['region_3'])

In [63]:
# 
print(data.groupby('region_1')['city_1'].count())
print(data.groupby('region_2')['city_2'].count())
print(data.groupby('region_3')['city_3'].count())
print(data.groupby('region_1_2_3')['city_1'].count())

region_1
Luzon       4778
Mindanao    1873
Visayas      749
Name: city_1, dtype: int64
region_2
Luzon       1224
Mindanao    1329
Visayas      626
Name: city_2, dtype: int64
region_3
Luzon       566
Mindanao    260
Visayas     359
Name: city_3, dtype: int64
region_1_2_3
False    7220
True      181
Name: city_1, dtype: int64

In [51]:

data = data.drop(columns = ['matched_city', 'id'])
data

,unique_id,year,date,case_NO,plaintiffs,defendants,lawyer_for_plaintiff,lawyer_for_defendant,writer,syllabus,...,is_women,is_city,unique_matched_city,city_1,city_2,city_3,region_1,region_2,region_3,region_1_2_3
15,190119,1901,"October 23, 1901",85,UNITED STATES,TAN JENJUA,Francisco Ortigas,Solicitor-General Araneta,"MAPA, J.","1. ESTAFA, CONCEALMENT OF A DOCUMENT. — The co...",...,True,False,None,None,None,None,NaN,NaN,NaN,False
19,190123,1901,"November 5, 1901",85,UNITED STATES,TAN JENJUA,Francisco Ortigas,Fermin Marian,"WILLARD, J.",1. CRIMINAL PROCEDURE; NEW TRIAL; NEWLY DISCOV...,...,False,False,None,None,None,None,NaN,NaN,NaN,False
36,19026,1902,"January 27, 1902",424,UNITED STATES,"MARCOSA PEÑALOSA, ET AL.",Francisco Rodriguez,Alfredo Chicote,"WILLARD, J.",1. CRIMINAL LAW; ILLEGAL MARRIAGE; INTENT; MIS...,...,True,True,"Manila, Mati",Manila,Mati,None,Luzon,Mindanao,NaN,False
43,190213,1902,"February 14, 1902",198,UNITED STATES,JUAN LLAMES,Mariano Monroy,Assistant Attorney-General Constantin,"TORRES, J.",1. CRIMINAL LAW; COMPOUND CRIMES; PENALTY. — T...,...,True,False,Mati,Mati,None,None,Mindanao,NaN,NaN,False
52,190222,1902,"March 7, 1902",48,"MILLAT, MARTY & MITJANS ET AL.",ATTORNEY-GENERAL,"Montagne & Dominguez, for the plaintiffs Milla...","Attorney-General Wilfley, for the Government.","TORRES, J.",1. JURISDICTION; CONTENTIOUS ADMINISTRATIVE CO...,...,True,False,Mati,Mati,None,None,Mindanao,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10109,1909532,1909,"October 25, 1909",5069,TAN CHUCO,YORKSHIRE FIRE AND LIFE INSURANCE CO.,Chicote & Miranda for plaintiff.,Lionel D. Hargis for defendant.,"CARSON, J.",1. ACTION ON FIRE INSURANCE POLICY; BURDEN OF ...,...,True,True,"Manila, Mati",Manila,Mati,None,Luzon,Mindanao,NaN,False
10119,1909542,1909,"November 3, 1909",5100,UNITED STATES,EMILIO BEDOYA,J. Rodriguez Serra,Attorney-General Villam,"ARELLANO, C.J.","1. ""ESTAFA."" — If the estafa charged is alleg...",...,True,True,"Manila, Mati, San Pablo, Santa Rosa",Manila,Mati,San Pablo,Luzon,Mindanao,Luzon,False
10130,1909553,1909,"November 19, 1909",5240,UNITED STATES,"LINO EGUIA LIM BUANCO, ET AL.",O’Brien & De Witt for appellant Lim Buanco.,Felipe Buencamino for appellant Luciano de los...,"ELLIOTT, J.",1. TWO DEFENDANTS CHARGED IN ONE INFORMATION; ...,...,True,True,Mati,Mati,None,None,Mindanao,NaN,NaN,False
10143,1909566,1909,"December 3, 1909",5306,UNITED STATES,FERNANDO JARABAS,Matias Hilad,Solicitor-General Harvey,"ELLIOTT, J.",1. FALSIFICATION; USE OF FALSE OFFICIAL DOCUME...,...,True,True,"Bacolod, Mati",Bacolod,Mati,None,Visayas,Mindanao,NaN,False
10146,1909569,1909,"December 4, 1909",5385,UNITED STATES,"GREGORIO DOMINGO, ET AL.",Roman Lacson,Solicitor-General Harvey,"ELLIOTT, J.",1. ROBBERY WITH HOMICIDE; SUFFICIENCY OF PROOF...,...,True,True,"Manila, Mati, Passi",Manila,Mati,Passi,Luzon,Mindanao,Visayas,False

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 989 entries, 15 to 10146
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unique_id             989 non-null    int64
 1   year                  989 non-null    int64
 2   date                  981 non-null    object
 3   case_NO               989 non-null    object
 4   plaintiffs            962 non-null    object
 5   defendants            962 non-null    object
 6   lawyer_for_plaintiff  975 non-null    object
 7   lawyer_for_defendant  914 non-null    object
 8   writer                988 non-null    object
 9   syllabus              989 non-null    object
 10  decision              988 non-null    object
 11  concur                942 non-null    object
 12  separate_opinion      989 non-null    bool
 13  endnotes              989 non-null    bool
 14  url                   989 non-null    object
 15  is_chinese            989 non-null    bool
 16  is_chinese_con1       989 non-null    bool
 17  is_chinese_con2       962 non-null    object
 18  is_opium              989 non-null    bool
 19  is_women              989 non-null    bool
 20  is_city               989 non-null    bool
 21  unique_matched_city   845 non-null    object
 22  city_1                845 non-null    object
 23  city_2                421 non-null    object
 24  city_3                169 non-null    object
 25  region_1              845 non-null    object
 26  region_2              421 non-null    object
 27  region_3              169 non-null    object
 28  region_1_2_3          989 non-null    bool
dtypes: bool(8), int64(2), object(19)
memory usage: 177.7+ KB

In [53]:
# Store the final data to a new CSV file


data.to_csv(data_path / 'final_chinese_case_details_0620.csv', index=False)