## EDA for Data Analysis

In [3]:
# Import the packages
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from pathlib import Path

#

In [4]:
# set up the path 
data_path = Path.cwd().parent / 'data'

data_path.mkdir(exist_ok=True)
print(data_path)

/Users/zoeyy/Desktop/xlab Intern/ds-ciss-colonial-law/data

In [6]:

# Load the data
data = pd.read_csv(data_path / 'final_case_details_0604_v1.csv')

print(f"After droping, the data has '{data.shape[0]}' rows")

After droping, the data has '9862' rows

In [22]:
# 0. Checking missing values
missing_values = data.isnull()
index_missing_values = missing_values.any(axis=1)

print(missing_values.sum())
print(f"Number of missing values: {index_missing_values.sum()}")

unique_id                  0
year                       0
date                     129
case_NO                    0
plaintiffs               153
defendants               153
lawyer_for_plaintiff     573
lawyer_for_defendant    1113
writer                    84
syllabus                 163
decision                 138
concur                   702
separate_opinion           0
endnotes                   0
url                        0
is_chinese                 0
dtype: int64
Number of missing values: 1621

In [27]:
missing_value = data.loc[index_missing_values]
missing_value.to_csv(data_path / 'missing_values.csv', index=False)

In [54]:
# 1. Identify the Chinese cases
chinese_name_list = ['Limjap', 'Boncan', 'Suiqn-sien','Tan','Dizo','Lim','Chua','Uy','Samson','Ong','Go','Yap','Tuazon','Sy Quia','Co','Tiamco','Lao','Jianquiao','Yatco','Singco']

# Corrected is_chinese column creation
data['is_chinese'] = (data['syllabus'].str.contains('Chinaman|chinaman|Chinese|China', case=False)) | (data['decision'].str.contains('Chinaman|chinaman|Chinese|China', case=False) | data['defendants'].str.contains('|'.join(chinese_name_list), case=True))
data['is_chinese_con1'] = (data['syllabus'].str.contains('Chinaman|chinaman|Chinese|China', case=False)) | (data['decision'].str.contains('Chinaman|chinaman|Chinese|China', case=False))
data['is_chinese_con2'] =  data['defendants'].str.contains('|'.join(chinese_name_list), case=True)

# Group by year and count the occurrences of is_chinese
result = data.groupby('year')['is_chinese'].sum().reset_index()

print(result)

    year  is_chinese
0   1901           2
1   1902           9
2   1903           7
3   1904          15
4   1905          23
5   1906          43
6   1907          45
7   1908          46
8   1909          37
9   1910          35
10  1911          34
11  1912          36
12  1913          16
13  1914          29
14  1915          54
15  1916          66
16  1917          41
17  1918          23
18  1919          15
19  1920          12
20  1921          20
21  1922          11
22  1923          15
23  1924          26
24  1925          11
25  1926          15
26  1927          13
27  1928          12
28  1929          16
29  1930          10
30  1931          15
31  1932          12
32  1933          21
33  1934          30
34  1935          30
35  1936          19
36  1937          16
37  1938          15
38  1939          18
39  1940          12
40  1941          12
41  1942           3
42  1943           1
43  1944           2
44  1945           5
45  1946           7

In [55]:
result = data.groupby('year')['is_chinese_con2'].sum().reset_index()
print(result)

    year is_chinese_con2
0   1901               0
1   1902               0
2   1903               0
3   1904               1
4   1905               1
5   1906               0
6   1907               0
7   1908               0
8   1909               1
9   1910               0
10  1911               0
11  1912               3
12  1913               0
13  1914               0
14  1915               0
15  1916               0
16  1917               1
17  1918               0
18  1919               3
19  1920               0
20  1921               1
21  1922               0
22  1923               0
23  1924               0
24  1925               0
25  1926               0
26  1927               0
27  1928               0
28  1929               0
29  1930               0
30  1931               0
31  1932               0
32  1933               0
33  1934               0
34  1935               0
35  1936               0
36  1937               0
37  1938               1
38  1939               0
39  1940               1
40  1941               0
41  1942               0
42  1943               0
43  1944               0
44  1945               0
45  1946               0

In [56]:
data[(data['is_chinese']==True)].to_csv(data_path / 'chinese_cases.csv', index=False)

In [32]:

(data['syllabus'].str.contains('Opium') | data['decision'].str.contains('Opium')).sum()

92

In [49]:
data[data['unique_id'] == 190954]

,unique_id,year,date,case_NO,plaintiffs,defendants,lawyer_for_plaintiff,lawyer_for_defendant,writer,syllabus,decision,concur,separate_opinion,endnotes,url,is_chinese,is_chinese_con1,is_chinese_con2
2409,190954,1909,"March 29, 1909",.,"TOMAS GUISON Y SALCEDO, Petitioner-Appellee,","THE INSULAR GOVERNMENT, Respondent-Appellant. :",NaN,NaN,"ARELLANO, C.J.",NaN,"ARELLANO,C.J.: Tomas Guison y Salcedo applied ...","Torres, Mapa, Johnson, Carson and Williard, JJ...",False,False,https://chanrobles.com/cralaw/1909januarydecis...,True,False,True

2409    False
Name: defendants, dtype: bool

In [38]:
print('|'.join(chinese_name_list))

Limjap|Boncan|Suiqn-sien|Tan|Dizo|Lim|Chua|Uy|Samson|Ong|Go|Yap|Tuazon|Sy Quia|Co|Tiamco|Lao|Jianquiao|Yatco|Singco

In [41]:
data['defendants'].str